body html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.App {
    max-width: 800px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 25px;
    /* height: 900px; */
    padding: 10px;
}

.logos {
    margin-bottom: 20px;
    /* display: flex; */
    justify-content: space-evenly;
    /* background: blue; */
}

.sub-title {
    display: block;
    margin: 0px auto;
    max-width: 500px;
    padding: 0px;
    line-height: 30px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    padding: 0px;
    font-size: 40px;
    line-height: 0;
}

.chrome-logo {
    /* margin-right: 10px; */
    height: 50px;
    width: 50px;
}

.btn-left {
    width: 14%;
}

.btn-right {
    width: 86%;
    text-align: center;
}

.download-btn {
    text-decoration: none;
    width: 100%;
    display: block;
    margin: 30px auto;
    padding: 7px;
    max-width: 335px;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    text-align: left;
    line-height: 52px;
    background: goldenrod;
    color: white;
    border-radius: 5px;
}

.olerate-logo {
    display: block;
    margin: 20px auto;
    /* background: blue; */
    width: 100px;
    height: 100px;
}

.responsive-iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.flex {
    display: flex;
}

@media only screen and (max-width: 380px) {
    .download-btn {
        height: 50px;
        line-height: 25px;
        max-width: 250px;
    }
}
